.Message
  display: flex
  flex-direction: column
  width: 250px
  background: var(--var-accent2)
  padding: 5px 0px
  .active
    background: var(--var-accent3)
  .name
    color: var(--var-text-color)