.topPanel
  position: fixed
  font-family: Calibri
  padding: 0px 30px
  font-size: 18px
  left: 346px
  // background: #00000056
  right: 0px
  display: flex
  align-items: center
  &>*
    margin-right: 10px
  .displayedName
    font-weight: 600
  .usertag
    font-size: 14px
    color: #ffffff50
  .avatar
    border-radius: 100px