.page
  position: fixed
  padding: 24px
  right: 0px
  bottom: 0px
  top: 0px
  left: 356px
  right: 0px

.title
  font-size: 18pt
  font-family: Calibri
  font-weight: 600

.users
  margin-top: 6px
  left: 0px
  right: 0px
  display: flex
  flex-direction: row
  align-content: center
  align-items: center
  overflow: hidden
  align-self: center
  flex-wrap: wrap
  left: 0px
  right: 0px
  height: 90%
  justify-content: center
  bottom: 0px

.randomDiv
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  padding: 20px 0px
  border-radius: 10px
  background: var(--var-accent1)
  button
    padding: 10px 20px
    background: var(--var-accent2)
    border: none
    border-radius: 10px
    color: #fff
    font-size: 10pt
    cursor: pointer
    margin-top: 14px
    transition: 200ms
    &:hover
      background: var(--messageInputHover)
  .randomDivTitle
    font-size: 13pt

.userInfo
  flex:1
  background: var(--var-accent1)
  display: flex
  justify-content: space-between
  padding: 10px
  align-items: center
  flex-direction: row
  min-width: 450px
  height: 130px
  margin: 10px
  border-radius: 10px
  img
    object-fit: cover
    border-radius: 100px
  .pfpblock
    display: flex
    flex-direction: column
  .infoblock
    width: 100%
    margin-left: 15px
    height: 100%
    button
      width: 100%
      background: var(--var-accent2)
      margin: 0px 10px 0px 0px
      border-radius: 10px
      border: none
      color: #fff
      padding: 10px 15px
      transition: 300ms
      cursor: pointer
      &:hover
        background: var(--messageInputHover)
    div
      .row
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        width: 100%
        margin-bottom: 10px
        font-size: 10.4pt
        &>*
          margin-right: 10px
      .username
        font-size: 15pt
        font-weight: 550
        width: 100%
        align-items: center
        justify-content: center