.loginPage
  background: var(--var-accent1)
  padding: 30px 0px
  border-radius: 20px
  width: 600px
  display: flex
  flex-direction: row
  &>div
    flex-direction: column
    display: flex
    justify-content: center
    padding: 0px 20px
    flex: 1
  .title
    color: var(--app-message)
    display: flex
    align-items: center
    justify-content: center
    margin: 0px
    &>*
      margin-right: 10px
  .inputsDiv
    &>div
      margin: 5px 0px
  .loginButton
    margin-top: 5px
    padding: 10px
    border: none
    background: var(--loginInput)
    color: #ffffff
    border-radius: 10px
    transition: var(--var-transition)
    &:disabled
      cursor: default
      background: var(--loginInputDisabled)
    &:hover:enabled
      cursor: pointer
      background: var(--loginInputHover)
  .toggleText
    font-size: 14px
    padding: 10px 0px 0px 0px
    color: var(--app-message)
    cursor: pointer
    width: max-content
    transition: var(--var-transition)
    &:hover
      color: #fff
    