:root
  --var-transition: 100ms
  --var-accent1: #1e2027
  --var-accent2: #17191f

  --leftMessage: #ffffff11
  --rightMessage: #d06af838
  
  --dialogHover: #e297ff10
  --dialogActive: #e39cff2a

  --scroll-track: #1e2027
  --scroll-thumb: #776ca550
  --scroll-thumb-hover: #9385ca50

  --loginInput: #7d4ba746
  --loginInputDisabled: #5f556846
  --loginInputHover: #8757afab

  --messageInput: #a861c436
  --messageInputDisabled: #5f556846
  --messageInputHover: #8757afab

  --notif-counter: #6e258be5
  --app-message: #c577e4
  --connected: #8d70ff
  --warning: #fffd72
  --error: #ff5151

body
  background: var(--var-accent2)
  font-family: monospace
  color: #ffffff
  font-size: 15px
  padding: 0px
  margin: 0px
  &>*
    user-select: none

.content
  display: flex
  flex-direction: column
  padding: 0px
  position: fixed
  left: 355px

.login
  display: flex
  width: 100vw
  height: 100vh
  justify-content: center
  align-items: center
    
a
  text-decoration: none
  color: #ffffff

/* width */
::-webkit-scrollbar 
  width: 5px
  border-radius: 10px

/* Track */
::-webkit-scrollbar-track 
  background: var(--scroll-track)

/* Handle */
::-webkit-scrollbar-thumb
  border-radius: 10px
  background: var(--scroll-thumb)

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: var(--scroll-thumb-hover)