:root
  --var-accent1: #242631
  --var-accent2: #282a36
  --var-accent3: #20222c
  --var-accent4: #2f3241
  --var-text-color: #af93f9
  --var-text-color2: #af93f920
  --var-transition: 100ms
  
body
  background: var(--var-accent1)
  font-family: monospace
  color: #ffffff
  font-size: 15px
  padding: 0px
  margin: 0px
  &>*
    user-select: none

.content
  display: flex
  flex-direction: column
  padding: 10px
  position: fixed
  left: 251px