.chatContent
  position: fixed
  top: 68px
  left: 346px
  right: 0px
  padding: 5px 20px
  overflow-y: auto
  bottom: 60px
  
.message
  user-select: text 
  display: flex
  width: 100%
  align-items: flex-end
  word-break: break-word
  padding: 1px 0px
  img
    border-radius: 100px
  div
    max-width: 500px
    padding: 5px 15px
    border-radius: 10px

.rightMessage
  justify-content: flex-start
  flex-direction: row-reverse
  .text
    position: sticky
    right: 50px
    margin-right: 5px
    background: var(--rightMessage)
  .timeSent
    float: left
    // left: 20px

.leftMessage
  .text
    position: sticky
    left: 50px
    margin-left: 5px
    background: var(--leftMessage)
  .timeSent
    float: right

.timeSent
  font-size: 13px
  color: #ffffff50
  position: relative

.leftRow
  border-radius: 10px 10px 10px 6px !important
.rightRow
  border-radius: 10px 10px 6px 10px !important

.arrow
  position: relative
  top: -24px
.floatRight
  float: right
.floatLeft
  float: left

.rightTriangle
  padding: 0px 31px 0px 0px
.leftTriangle
  padding: 0px 0px 0px 31px

.date
  display: flex
  align-items: center
  justify-content: center
  color: #ffffff40
  width: 100%
  font-size: 14px
  padding: 14px 0px
  &>*
    margin: 0px 10px
  .line
    flex: 1
    background: #ffffff1a
    height: 1px