.sidebar
  position: fixed
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: space-between
  background: var(--var-accent2)
  .upperButtons, .bottomButtons
    margin: 15px 0px
    display: flex
    align-items: center
    flex-direction: column
    &>*
      margin: 12px 0px
      padding: 0px 25px
    .activePage
      &::before
        content: " "
        left: 0px
        height: 20px
        width: 0px
        border-radius: 20px
        position: absolute 
        border-left: 2px solid #9385ca
        border-right: 2px solid #9385ca
    .userImage
      padding: 2px
      object-fit: cover
      border-radius: 35px
    a, button
      background: none
      border: none
      display: flex
      align-items: center
      justify-content: center 
  .bottomButtons
    .linkUserImage
      padding: 0px !important
.hr
  border: none
  border-top: 1px #9385ca solid

.connected
  border: 1px var(--connected) solid
.disconnected
  border: 1px var(--error) solid

.counterDot
  position: absolute
  width: 18px
  height: 18px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 100px
  font-family: "Calibri"
  font-size: 12px
  background: var(--notif-counter)
  left: 45px
  top: 118px