.chatlist
  position: fixed
  left: 76px
  display: flex
  flex-direction: column
  background: var(--var-accent4)
  padding: 10px 0px
  width: 270px
  max-width: 270px
  overflow: hidden
  height: 100vh
  // border-right: 1px #ffffff10 solid
  // border-left: 1px #ffffff10 solid
  &>h2
    padding: 0px 15px
    font-family: Calibri
  .block
    display: flex
    flex-direction: column
    margin-top: 20px
    border: none
    padding: 0px 0px 15px 0px
    height: 100%
    overflow-y: auto
    &>legend
      margin-bottom: 5px
      display: flex
      align-items: center
      font-family: Calibri
      &>*
        margin-right: 8px
  .searchBlock
    display: flex
    flex-direction: row
    align-items: center
    &>div:first-child
      margin-right: 5px !important

.createChat
  display: flex
  margin-right: 5px
  align-items: center
  justify-content: center
  padding: 0px
  border-radius: 10px
  background: #50505020
  border: none
  transition: var(--var-transition)
  cursor: pointer
  &:hover
    background: #90909020
